body, html {
    height: 100%;
    margin: 0;
    font-family: helvetica;
    font-weight: 100;
    background-color:gray;

}
.main-header .navbar {
  margin-left: 0;
}
.navbar {
  margin-bottom: 0;
     background-color:  #111;
     z-index: 9999;
     border: 0;
     font-size: 12px !important;
     line-height: 1.42857143 !important;

     border-radius: 0;

}
.footer {

  position: sticky;
  bottom: 0;
  width: 100%;

  height: 60px;
  background-color:  #111;
       color: white;
       padding: 15px;
       margin-top: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #00ffdc;
}z

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

#jumb {
    background-image: url(./header.png);
    background-size: 100% 100%;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 350px;
    margin-right: -1%;
    margin-left: -2%;
}
