
<style>
p.outset {border-style: outset;
}
h1{
  color:skyblue;
}

div.scroll {
    width: 100%;
    height: 100px;
    overflow: auto;
}
textarea{
  resize: none;

}
</style>
<div class="jumbotron" style="background-color:red:"><h1><center>Submit Your Story</center></h1></div>
<h2> Stories</h2>
 <div ng-controller="myct" ng-init="getst()" >
    <input type="text" ng-model="search" placeholder="Search">
     <div dir-paginate="story in stories|filter:search|itemsPerPage:3"  >
       <h1>Title:-{{story.title}}{{story.id}}</h1></br>
       <h4>category:-{{story.category}}</h4></br>
       <p>{{story.content}}</p>
       <div>
        <textarea ng-model="Comment"></textarea>
        <button ng-click='comment(story._id,Comment)'> Comment</button>
        </div>
        <h3 style='color:skyblue;'> Comments:-</h3>
        <div class="scroll">
             <div  ng-repeat='Story in story.comment'>
             <p>comment:- {{Story.Comment}}</p>
             </div>
</div>
 <p class="outset"></p>
<!-- <div id="well" class="well well-lg"></div> -->

        <!-- <td><button class="btn btn-danger btn-small" ng-click="deleteStory(story._id,$index)">Delete</button>
             <button type="button" class="btn btn-primary" ng-click="editStory(story._id)">Edit</button>
        </td> -->
</div>
<dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true" >
  </dir-pagination-controls>
</div>
