
<!--
<style>
div.panel{
background-color:white;
}
p.outset {border-style: outset;
}
div.panel-footer{
  background-color:white;
}
h1,h3{
  color:black;

}

div.scroll {
    width: 100%;
    height: 100px;
    overflow: auto;
}
textarea{
  resize: none;

}
</style>
<div class="jumbotron" id="jumb">
  <h1><center>Submit Your Story</center></h1></div>
<h2> stories</h2>
<input type="text" ng-model="search.category" placeholder="Search by category">
 <div  class="w3-card-4 w3-margin w3-white"  ng-controller="myct" ng-init="getst()" >

     <div  dir-paginate="story in stories|filter:search|itemsPerPage:3">


       <h3 style="color:#141823 ">postedby:-{{story.name.firstname| uppercase }} &nbsp;{{story.name.lastname| uppercase }}</h3><h3 style="color:#141823 ">posted On:-{{story.date|date:'medium'}}</h3></br>
       <h3>category:-{{story.category}}</h4></br>
          <div class="jumbotron text-center">
            <h1 style="color:#141823">Title:-{{story.title}}</h1></br>
       <p>{{story.content}} </p>
       </div>
       <div>
        <textarea ng-model="Comment"  placeholder="Type Comment...."></textarea></br>
        <button class="btn btn-success"  ng-click='comment(story._id,Comment)'>comment</button>
       </div>

        <h3 style='color:#141823;'>Comments:-</h3>
        <div class="scroll">
             <div ng-repeat='Story in story.comment'>
             <p>comment:-{{Story.Comment}}</p>
             <p>by:-{{Story.by}}</p>
             </div>
       </div>

 <p class="outset"></p>


</div>
<dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true" >
  </dir-pagination-controls>
</div> -->
<style>
p.outset {border-style: outset;
}
div.scroll {
    width: 100%;
    height: 100px;
    overflow: auto;
}
</style>
<div  ng-controller="myct" ng-init="getst()">
  <div class="jumbotron" id="jumb">
    <h1 style="color:skyblue"><center>Submit Your Story</center></h1>
  <h3 style="color:skyblue"><em>We already know how magnificent you are… But now we want you to share your magnificence with the world!</em></h2>
  </div>
<div class="row">
<div class="col-sm-6"> <h1 style="color:skyblue">Stories</h1> </div>
<div class="col-sm-6">
<input type="text"  ng-model="search.category" placeholder="Search stories by category"></div>
</div>

<div class="box box-widget" dir-paginate="story in stories|filter:search|itemsPerPage:3">
            <div class="box-header with-border">
              <div class="user-block">
                      <img src="{{story.name.userprofile}}" class="img-circle" style="width:50px;height:50px">
                <span class="username"><a href="#">{{story.name.firstname| uppercase }} &nbsp;{{story.name.lastname| uppercase }}</a></span>
                <span class="description">Shared publicly -{{story.date|date:'medium'}}</span>
              </div>
            </div>
                <h3 style="color:skyblue">Title:-{{story.title}}</h3></br>
                <h3 style="color:skyblue">category:-{{story.category}}</h3></br>
            <div class="box-body">
              <p >{{story.content}}</p>
                <span class="fa fa-comment push-left"> {{story.comment.length}} comments</span>
               <button class="fa fa-heart" ng-click="post.likes = post.likes+1"> {{post.likes}}</button>
            <rating  max="5" size="18px" color="#3DC31E" ></rating>
            </div>
            <div class="box-footer box-comments" >
                      <div class="scroll">
              <div class="box-comment"  ng-repeat='Story in story.comment| limitTo: 30'>
                <img class="img-circle img-sm" src="{{Story.by.userprofile}}" alt="User Image">
                <div class="comment-text" >

                      <span class="username">
                      {{Story.by.firstname }} &nbsp;{{Story.by.lastname}}
                      </span>
                  <p style="color:green">
                  {{Story.Comment}}</p>
                </div>
              </div>
              </div>
            </div>
            <div class="box-footer">

                <i class="fa fa-keyboard-o"></i>
                <div class="input-group">
                    <input type="text" ng-model="Comment"  name="message" placeholder="Type Comment ..." class="form-control">
                      <span class="input-group-btn">
                      <button type="submit"  ng-click='comment(story._id,Comment)' class="btn btn-success btn-flat">Comment</button>
                      </span>
              </form>
            </div>
             <p class="outset"></p>
          </div>
          </div>
          <dir-pagination-controls
              max-size="5"
              direction-links="true"
              boundary-links="true" >
            </dir-pagination-controls>
</div>
